:root {
  --content-width: 1200px;
  --space-lg: 32px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 1024px; /* ページ全体の下限 */
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

.container {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 var(--space-lg);
}
