:root {
  --content-width: 1200px;
  --space-lg: 32px;
  --color-main-orange: #FF7A00;
  --color-sub-orange: #FFB000;
  --color-main-blue: #2EC4B6;
  --color-pokemon: #F6D500;
  --color-gangbeasts: #FF6B5B;
  --color-asobitaizen: #1B4965;
  --color-asobitaizen: #FF4800;
  --color-fallguys: #01E9D3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 1024px; /* ページ全体の下限 */
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

.container {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 var(--space-lg);
}
